/*reset*/

*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 420px;
    margin: 0 auto;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

.am-with-topbar-fixed-top {
    padding-top: 46px;
}

.wrapped {
    width: 92%;
    margin: 0 auto;
    text-align: center;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

ul,
li,
ol,
ol>li>ol,
ol>li>ul,
ul>li>ol,
ul>li>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
*+p {
    margin: 0;
    line-height: 1;
}

img {
    user-select: none;
}

.clearfix {
    *zoom: 1;
}

.am-fl {
    float: left;
}

.am-fr {
    float: right;
}

.am-topbar-fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.am-btn.am-disabled,
.am-btn[disabled],
fieldset[disabled] .am-btn,
.am-disabled,
.disabled {
    pointer-events: none;
    border-color: transparent;
    cursor: not-allowed;
    opacity: .45;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.banner img {
    width: 100%;
}

.title--logo {
    font-size: 20px;
    color: #251386;
    font-weight: bold;
    text-align: left;
}

.title--logo img {
    height: 33px;
    margin: 25px 0 5px;
}

.speech_list {
    border-bottom: 1px dashed #999;
}

.speech_list.news .article--wraped {
    padding: 15px 0;
    border-bottom: 1px dashed #999;
}

.speech_list.news .article--wraped:last-of-type {
    border: none;
}
.more {
    display: inline-block;
    width: 33.62%;
    line-height: 26px;
    font-size: 13px;
    border-radius: 3px;
    background: #e6e6e6;
    color: #29abe2;
    margin: 25px auto 0;
}
.active .more {
    display: none;
}



.partner_list {
    margin: 25px 0 0;
}

.partner_list li {
    width: 23.19%;
    float: left;
    margin-right: 2.3%;
    margin-bottom: 2.3%;
}

.partner_list li:nth-child(4n+4) {
    margin-right: 0;
}

.partner_list li img {
    width: 100%;
    max-height: 30px;
}

.cheyouhui img {
    width: 100%;
    margin-top: 15px;
}

.foot--wrapper {
    background: #fafafa;
}

.foot--wrapper .am-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.foot--wrapper .foot--list {
    margin: 0 auto;
    display: table;
}

.foot--wrapper a {
    padding: 0 20px;
    position: relative;
    font-size: 14px;
    color: #1a1a1a;
}

.foot--wrapper a:last-of-type {
    padding: 0 20px;
    position: relative;
    font-size: 14px;
    color: #1a1a1a;
}

.foot--wrapper a:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    border-left: 1px solid #ceced0;
    height: 14px;
}

.foot--wrapper a:hover {
    color: #f60;
}

.foot--wrapper .foot--copyright {
    text-align: center;
    font-size: 14px;
    color: #949494;
    padding: 20px 0 40px;
}

.foot--wrapper .foot--copyright_a {
    color: #787878;
    padding: 0 5px;
}

.am-sticky-placeholder {
    height: 0 !important;
}

.menu {
    position: fixed;
    right: 20px;
    top: 150px;
    font-size: 13px;
    text-align: center;
    z-index: 1;
}

.menu li {
    position: relative;
}

.menu li a {
    display: none;
    position: relative;
}

.menu li a.am-active {
    display: block;
    width: 75.5px;
    height: 74px;
    background: url("../wap/images/menu.png") no-repeat center;
    background-size: contain;
}

.menu li p {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 26px;
    color: #fff;
}

.menu img {
    width: 23px;
    height: 23px;
}

.goTop {
    position: fixed;
    right: 20px;
    bottom: 100px;
    font-size: 24px;
    z-index: 99;
}

.goTop li {
    opacity: 0;
}

.goTop img {
    width: 23px;
    height: 23px;
}

.ad img {
    width: 100%;
    max-height: 180px;
    margin:25px auto 0;
}

.news_list .article--wraped {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px dashed #999;
}
.title2 .news_list .article--wraped:nth-of-type(n+6){
    display: none;
}

.title2.active .news_list .article--wraped:nth-of-type(n+6) {
    display: block;
}
.news_list .article--wraped .article--img {
    width: 32%;
    position: relative;
}

.news_list .article--wraped .article--img img {
    width: 100%;
    max-height: 8rem;
    min-height: 73px;
}

.news_list .article--content {
    width: 68%;
    font-size: 15px;
    color: #121212;
    line-height: 1.4;
    text-align: left;
    padding-right: 10px;
}

.news_list .article_p {
    color: #121212;
    line-height: 1.6;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    position: relative;
    top: -2px;
}

.news_list .article--content .forter {
    width: 68%;
    line-height: 20px;
    font-size: 13px;
    color: #999;
    padding-right: 15px;
    position: absolute;
    bottom: 10px;
    margin: 0;
}

.news_list .article--author {
    font-size: 10px;
    line-height: 15px;
    position: relative;
    display: inline-block;
    height: 15px;
}

.news_list .forter span {
    display: inline-block;
    margin-right: 15px;
}

.news_list .forter span.division {
    margin-right: 0;
}

.news_list .forter .article--time {
    font-size: 10px;
    color: #808080;
}