<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>2018长三角未来汽车供应链创新论坛</title>
    <meta name="keywords" content="2018创新论坛,长三角未来汽车,供应链创新论坛">
    <meta name="description" content="2018年5月3日由GNEV官方机构与第一电动网联合举办的2018长三角未来汽车供应链创新论坛将在上海国际赛车场空中餐厅举行，在电动化、智能化、轻量化、汽车共享四大趋势的推动下，汽车“旧世界”正在改变。">
    <link rel="stylesheet" href="https://assets-cdn.d1ev.com/ajax/libs/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="css/mobile.css?v=20180424">
    <script>
        !(function () {
            if (!navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                var search = window.location.search;
                var hash = window.location.hash;
                window.location.href = 'index.html' + search + hash;
            } else {
                console.log("2018长三角未来汽车供应链创新论坛-mobile")
            }
        })();
    </script>
</head>
<body>
    <header></header>
    <main>
        <section class="banner">
            <img src="./images/bannermin.png?v=20180424" alt="">
        </section>
        <section id="title1" class="title2 wrapped">
            <div class="title--logo">
                <img src="./images/title1.png" alt="">
            </div>
            <ul class="news_list clearfix">
            <i class="am-icon-spinner am-icon-spin" style=" width: 20%; height: 20%; font-size: 20px; "></i>
            </ul>
        </section>
        <section class="ad">
            <a href="https://www.d1ev.com/special/gnevexpo2018/wap/index.html" target="_blank">
                <div class="wrapped">
                    <img data-src="./wap/images/ad1min.png" alt="" style="display: inline;">
                </div>
            </a>
        </section>
        <section id="title3" class="title2 wrapped">
            <div class="title--logo">
                <img src="./images/title3.png" alt="">
            </div>
            <div class="news_list news">
            	<i class="am-icon-spinner am-icon-spin" style=" width: 20%; height: 20%; font-size: 20px; "></i>
            </div>
        </section>
        <section id="title4" class="title2 wrapped">
            <div class="title--logo">
                <img src="./images/title4.png" alt="">
            </div>
            <div class="news_list news">
            	<i class="am-icon-spinner am-icon-spin" style=" width: 20%; height: 20%; font-size: 20px; "></i>
            </div>
        </section>
        <section id="title5" class="title2 wrapped">
            <div class="title--logo">
                <img src="./images/title5.png" alt="">
            </div>
            <div class="news_list news">
            	<i class="am-icon-spinner am-icon-spin" style=" width: 20%; height: 20%; font-size: 20px; "></i>
            </div>
        </section>
        <section id="title6" class="title2 wrapped">
            <div class="title--logo">
                <img src="./images/title6.png" alt="">
            </div>
            <div class="news_list news">
            	<i class="am-icon-spinner am-icon-spin" style=" width: 20%; height: 20%; font-size: 20px; "></i>
            </div>
        </section>
        <section id="title7" class="title2 wrapped">
            <div class="title--logo">
                <img src="./images/title7.png" alt="">
            </div>
            <div class="news_list news">
            </div>
        </section>
        <section id="title8" class="title2 wrapped">
            <div class="title--logo">
                <img src="./images/title8.png" alt="">
            </div>
            <div class="news_list news">
            	<i class="am-icon-spinner am-icon-spin" style=" width: 20%; height: 20%; font-size: 20px; "></i>
            </div>
        </section>
        <section id="title9" class="wrapped">
            <div class="title--logo">
                <img src="./images/title9.png" alt="">
            </div>
            <ul class="partner_list clearfix"></ul>
        </section>
        <section class="cheyouhui">
            <div class="img--wrapper clearfix">
                <img src="./wap/images/cheyouhui_wap.png?v=20180424" alt="">
            </div>
        </section>
        <div class="menu" data-am-scrollspynav="{offsetTop: 45}" data-am-sticky>
            <ul>
                <li>
                    <a href="#title1" class="am-active">
                        <p>未来汽车</p>
                    </a>
                </li>
                <li>
                    <a href="#title2">
                        <p>自动驾驶</p>
                    </a>
                </li>
                <li>
                    <a href="#title3">
                        <p>整车制造</p>
                    </a>
                </li>
                <li>
                    <a href="#title4">
                        <p>动力电池</p>
                    </a>
                </li>
                <li>
                    <a href="#title5">
                        <p>电机及电控</p>
                    </a>
                </li>
                <li>
                    <a href="#title6">
                        <p>电池原材料</p>
                    </a>
                </li>
                <li>
                    <a href="#title7">
                        <p>工业4.0时代</p>
                    </a>
                </li>
                <li>
                    <a href="#title8">
                        <p>充换电运营</p>
                    </a>
                </li>
                <li>
                    <a href="#title9">
                        <p>合作伙伴</p>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <div class="foot--wrapper">
            <div class="am-container">
                <div class="foot--copyright">Copyright © 2010-2018
                    <a style="color:#949494;" href="http://www.d1ev.com" class="foot--copyright_a">第一电动网</a>京ICP备14024261号 京ICP证160753号
                    <a style="color:#949494;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033163" target="_blank">
                        <img style="margin-bottom:4px;" src="http://cdn-fs.d1ev.com/d/file/default/ghs.png">京公网安备 11010502033163号</a>广播电视节目制作经营许可证（京）字第06795号</div>
            </div>
        </div>
    </footer>

    <ul class="goTop">
        <li>
            <a href="javascript:;" onclick="$('html,body').animate({scrollTop: 0}, 700);">
                <img src="images/goTop.png" alt="">
            </a>
        </li>
    </ul>
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
<script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
    <script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.js"></script>
    <script src="js/template-web.js"></script>
    <script src="js/dataList.js?v=2018040201"></script>
    <script id="List" type="text/html">
        {{if list}}
        <div class="wrapper">
            {{each list value i}}
            <section class="article--wraped clearfix">
                <a href="{{value.pcUrl}}" target="_blank">
                    <div class="article--content am-fl">
                        <span class="article_p">{{value.title}}</span>
                        <div class="forter">
                            {{if value.source !==""}}
                            <span>{{value.source}}</span>
                            {{else}}
                            <span>第一电动网</span>
                            {{/if}}
                            <span>
                                <time class="timeago" datetime="{{value.addTimeStr}}" title="{{value.addTimeStr}}">{{value.addTimeStr}}</time>
                            </span>
                        </div>
                    </div>
                    <div class="article--img am-fr">
                        <img data-src="{{value.coverImgUrl}}" alt="{{value.title}}" style="display: inline;">
                    </div>
                    <div class="paiming"></div>
                </a>
            </section>
            {{/each}}
        </div>
        {{/if}}
    </script>
    <script id="ad" type="text/html">
        {{if list}} {{each list value i}}
        <a href="{{value.pcUrl}}" target="_blank">
            <div class="wrapped">
                <img data-src="https://cdn-fs.touchev.com{{value.coverImgUrl}}" alt="">
            </div>
        </a>
        {{/each}} {{/if}}
    </script>
    <script id="partnerlist" type="text/html">
        {{each partnerList value i}}
        <li>
            <div class="img--wrapper">
                <img data-src="{{value.image}}?v=2018040201" alt="{{value.name}}" title="{{value.name}}">
            </div>
        </li>
        {{/each}}
    </script>
    <script>
        // $.ajax({
        //     url: "https://www.d1ev.com/gnev/car/show/news",
        //     type: 'GET',
        //     dataType: 'json',
        //     xhrFields: { withCredentials: true },
        //     success: function (response) {
        //         if (response.success === true) {

        //         }
        //     }
        // });
        var speechList1 = template("List", data.title1);
        var speechList3 = template("List", data.title3);
        var speechList4 = template("List", data.title4);
        var speechList5 = template("List", data.title5);
        var speechList6 = template("List", data.title6);
        var speechList7 = template("List", data.title7);
        var speechList8 = template("List", data.title8);


        document.querySelector("#title1 .news_list").innerHTML = speechList1;

        document.querySelector("#title3 .news_list").innerHTML = speechList3;
        document.querySelector("#title4 .news_list").innerHTML = speechList4;
        document.querySelector("#title5 .news_list").innerHTML = speechList5;
        document.querySelector("#title6 .news_list").innerHTML = speechList6;
        document.querySelector("#title7 .news_list").innerHTML = speechList7;
        document.querySelector("#title8 .news_list").innerHTML = speechList8;

        var partner = template("partnerlist", data);
        document.querySelector(".partner_list").innerHTML = partner;

        $(function () {

            $(document).on("scroll", function (e) {
                if ($(this).scrollTop() > 200) {
                    $(".goTop li:last-of-type").css("opacity", "1");
                } else {
                    $(".goTop li:last-of-type").css("opacity", "0");
                }
            });
            $(".more").on("click", function () {
                var $this = $(this);
                $this.hide().closest(".wrapped").addClass("active");
            });
            setTimeout(function () {
                var $img = $("#title1 .news_list img");
                $img.each(function () {
                    var $width = $img.width();
                    var $height = Math.ceil($width * 0.6666);
                    $img.height($height);
                });
            }, 500);
        });

        function lazyload_img() {
            $('img[data-src]').lazyload({
                data_attribute: 'src',
                placeholder: '//cdn-fs.d1ev.com/d/file/default/no-picture.gif'
            });
        }
        

        function timeinit() {
            //时间转换
            $.timeago.settings.strings = {
                prefixAgo: null,
                prefixFromNow: "从现在开始",
                suffixAgo: "前",
                suffixFromNow: null,
                seconds: "1分钟",
                minute: "1分钟",
                minutes: "%d分钟",
                hour: "1小时",
                hours: "%d小时",
                day: "1天",
                days: "%d天",
                month: "1个月",
                months: "%d月",
                year: "1年",
                years: "%d年",
                numbers: [],
                wordSeparator: ""
            };
            jQuery.timeago.settings.cutoff = 1000 * 60 * 60 * 24;
            $('time.timeago').timeago();
        }
         lazyload_img(); timeinit()
    </script>
    <!--微信 jssdk-->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!--微信分享-->
    <script type="text/javascript">
        $.ajax({
            url: '//www.d1ev.com/upload/file/jssdk_signpackage', //获取微信 jssdk 签名信息
            type: 'POST',
            dataType: 'json',
            data: {
                'share_url': window.location.href
            }, //当前页面 URL
            success: function ($data) {
                //console.log($data); //调试返回数据
                if ($data.appId !== undefined) {
                    var shareData = {
                        title: document.title, //标题
                        desc: '2018年5月3日由GNEV官方机构与第一电动网联合举办的2018长三角未来汽车供应链创新论坛将在上海国际赛车场空中餐厅举行，在电动化、智能化、轻量化、汽车共享四大趋势的推动下，汽车“旧世界”正在改变。', //描述
                        link: $data.url, //URL，及 share_url
                        imgUrl: window.location.origin + '/special/yangtzeInnovation/images/innovation-logo.png' //图标
                    };
                    wx.config({
                        debug: false,
                        appId: $data.appId,
                        timestamp: $data.timestamp,
                        nonceStr: $data.nonceStr,
                        signature: $data.signature,
                        jsApiList: ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage',
                            'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone'
                        ]
                    });
                    wx.ready(function () {
                        wx.onMenuShareTimeline(shareData);
                        wx.onMenuShareAppMessage(shareData);
                        wx.onMenuShareQQ(shareData);
                        wx.onMenuShareWeibo(shareData);
                        wx.onMenuShareQZone(shareData);
                    });
                }
            }
        });
    </script>
    <div id="footer-analysis-3rd" style="display: none;">
        <script type="text/javascript" src="https://www.d1ev.com/src/assets/1.0.0/analysis.3rd.js?v=2018l"></script>
    </div>
</body>

</html>