<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>2018长三角未来汽车供应链创新论坛</title>
    <meta name="keywords" content="2018创新论坛,长三角未来汽车,供应链创新论坛">
    <meta name="description" content="2018年5月3日由GNEV官方机构与第一电动网联合举办的2018长三角未来汽车供应链创新论坛将在上海国际赛车场空中餐厅举行，在电动化、智能化、轻量化、汽车共享四大趋势的推动下，汽车“旧世界”正在改变。">
    <link rel="dns-prefetch" href="https://www.d1ev.com">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="https://assets-cdn.d1ev.com/ajax/libs/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="https://www.d1ev.com/src/common/public/css/sprite.css?v=2018u">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css?v=20180403">
    <script>
        !(function(){
            if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
            var search=window.location.search;
            var hash=window.location.hash;
            window.location.href = 'index_mobile.html'+search+hash;
        } else { console.log("2018长三角未来汽车供应链创新论坛-PC")}
        })();
    </script>
</head>
<body>
    <header></header>
    <main>
        <div class="banner"></div>
        <div class="news wrapped clearfix">
            <section class="slide--wrapper am-fl">
                <div class="am-slider am-slider-default slider--re" data-am-flexslider="">
                    <ul class="am-slides"></ul>
                </div>
            </section>
            <section class="newsList am-fr">
                <ul></ul>
            </section>
        </div>
        <div class="wrapped">
            <section class="title1">
                <div class="title--logo">
                    <img src="images/title1.png" alt="">
                </div>
                <div class="content--wrapper clearfix">
                    <div class="news_list am-fl">
                
                    </div>
                    <div class="am-fr special">
                        <div class="p--division">专题推荐</div>
                        <div class="special_info">
                        <a href="https://www.d1ev.com/special/innovation/" target="_blank">
                                <div class="img--wrapper">
                                    <img src="images/special2.png" alt="">
                                </div>
                                <p class="title">2018珠三角未来汽车供应链创新论坛</p>
                            </a>
                        </div>
                        <div class="special_info">
                            <a href="https://www.d1ev.com/special/gnevexpo2018/" target="_blank">
                                <div class="img--wrapper">
                                    <img src="images/specail1.png" alt="">
                                </div>
                                <p class="title">2018未来汽车展，期待与您相约</p>
                            </a>
                        </div>
                    
                        <div class="img--wrapper">
                            <img src="images/cheyouhui.png?v=20180424" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class="title3">
                <div class="title--logo">
                    <img src="images/title3.png" alt="">
                </div>
                <div class="content--wrapper clearfix">
                    <div class="news_list am-fl">

                    </div>        
                </div>
            </section>
            <section class="title4">
                <div class="title--logo">
                    <img src="images/title4.png" alt="">
                </div>
                <div class="content--wrapper clearfix">
                    <div class="news_list am-fl">
                
                    </div>
                
                </div>
            </section>
            <section class="title5">
                <div class="title--logo">
                    <img src="images/title5.png" alt="">
                </div>
                <div class="content--wrapper clearfix">
                    <div class="news_list am-fl">
                
                    </div>
                
                </div>
                </section>
            <section class="title6">
                <div class="title--logo">
                    <img src="images/title6.png" alt="">
                </div>
                <div class="content--wrapper clearfix">
                    <div class="news_list am-fl">
                
                    </div>
                
                </div>
                </section>
            <section class="title7">
                <div class="title--logo">
                    <img src="images/title7.png" alt="">
                </div>
                <div class="content--wrapper clearfix">
                    <div class="news_list am-fl">
                
                    </div>
                
                </div>
                </section>
            <section class="title8">
                <div class="title--logo">
                    <img src="images/title8.png" alt="">
                </div>
                <div class="content--wrapper clearfix">
                    <div class="news_list am-fl">
                
                    </div>
                
                </div>
                </section>
            <section class="partner wrapped">
                <div class="title--logo">
                    <img src="images/title9.png" alt="">
                </div>
                <ul class="partner_list clearfix"></ul>
            </section>
        </div>

    </main>
    <footer>
        <div class="foot--wrapper">
            <div class="am-container">
                <div class="am-cf foot--list">
                    <a href="http://www.d1ev.com/about/aboutus" class="am-fl">关于我们</a>
                    <a href="http://www.d1ev.com/app/download" class="am-fl">客户端下载</a>
                    <a href="http://www.d1ev.com/about/contact" class="am-fl">联系我们</a>
                    <a href="http://www.d1ev.com/about/joinus" class="am-fl">加入我们</a>
                    <a href="http://www.d1ev.com/about/agreement" class="am-fl">用户协议</a>
                    <a href="http://www.d1ev.com/about/friendlink" class="am-fl">友情链接</a>
                    <a href="http://www.d1ev.com/about/feedback" class="am-fl">意见反馈</a>
                </div>
                <div class="foot--copyright">
                    Copyright © 2010-2018
                    <a style="color:#949494;" href="http://www.d1ev.com" class="foot--copyright_a">第一电动网</a>　京ICP备14024261号　京ICP证160753号
                    <a style="color:#949494;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033163"
                        target="_blank">
                        <img style="margin-bottom:4px;" src="http://cdn-fs.d1ev.com/d/file/default/ghs.png">京公网安备 11010502033163号
                    </a>　广播电视节目制作经营许可证（京）字第06795号
                </div>
            </div>
        </div>
    </footer>
    <ul class="goTop">
        <li>
            <a href="javascript:;" onclick="$('html,body').animate({scrollTop: 0}, 700);">
                <img src="images/goTop.png" alt="">
            </a>
        </li>
    </ul>
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
<script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
    <script type="text/javascript" src="https://cdn-fs.d1ev.com/ajax/libs/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="js/template-web.js"></script>
    <script src="js/dataList.js?v=2018040201"></script>
    <script id="sliders" type="text/html">
        {{if list.length !== 0}}
        {{each list value i}}
        <li>
            <a href="https://www.d1ev.com{{value.pcUrl}}!w480" target="_blank">
                <img src="{{value.imgPath}}!w720" alt=""/>
                <div class="am-slider-desc clearfix">
                    <p class="slide_li">{{value.title}}</p>
                </div>
            </a>
        </li>
        {{/each}}
        {{/if}}
    </script>
    <script id="newslist" type="text/html">
        {{each list value i}}
        <li class="division">
            <a href="https://www.d1ev.com{{value.pcUrl}}" target="_blank">
                <p class="title">{{value.title}}</p>
                <p class="discription">{{value.summary}}</p>
            </a>
        </li>
        {{/each}}
    </script>
    <script id="articleList" type="text/html">
        {{if list}} {{each list value index}}
        <li class="article--wraped">
            <a href="{{value.pcUrl}}" target="_blank">
                <div class="article--img">
                    <img src="{{value.coverImgUrl}}!w360" alt="">
                </div>
            </a>
            <div class="article--content">
                <a href="{{value.pcUrl}}" target="_blank">
                    <span class="article_p">{{value.title}}</span>
                </a>
                <p class="article--author">
                    <a href="javascript:;" target="_blank">
                        <span class="article--authorpic">
                            {{if value.headImg !== ''}}
                            <img src="{{value.headImg}}" alt=""> {{else}}
                            <img src="https://cdn-fs.d1ev.com/d/file/default/no-avatar.gif" alt=""> {{/if}}
                        </span>
                        <span>{{value.source}}</span>
                        <span>{{value.nickName}}</span>
                    </a>
                    <span class="article--time">
                        <time class="timeago" datetime="{{value.addTimeStr}}" title="{{value.addTimeStr}}">{{value.addTimeStr}}</time>
                    </span>
                </p>
                <div class="article--type am-cf">
                    <div class="article--type--tip am-fl">
                        {{if value.tags}}
                        <i class="icon icon-icon_tips first"></i>
                        {{each value.tags t i}}
                        <a href="https://www.d1ev.com/tag/{{value.tags.split(',')[i]}}" target="_blank">{{value.tags.split(',')[i]}}</a>
                        {{/each}} {{/if}}
                    </div>
                    <p class="article--type--say am-fr">
                        <span>
                            <i class="icon icon-icon_good"></i> {{value.likeCount}}</span>
                        <span>
                            <i class="icon icon-icon_comment"></i> {{value.commentCount}}</span>
                    </p>
                </div>
            </div>
        </li>
        {{/each}} {{/if}}
    </script>
    <script id="partnerlist" type="text/html">
        {{each partnerList value i}}
        <li>
            <div class="img--wrapper">
                <img src="{{value.image}}?v=2018040201" alt="{{value.name}}" title="{{value.name}}">
            </div>
			
        </li>
        {{/each}}
    </script>
    <script>
        var sliderList = template("sliders", data.banner);
        var newslist = template("newslist", data.recommendNews);
        document.querySelector(".am-slides").innerHTML = sliderList;
        document.querySelector(".newsList ul").innerHTML = newslist;
        var partner = template("partnerlist", data);
        document.querySelector(".partner_list").innerHTML = partner;

        var articleList1 = template("articleList", data.title1);
        document.querySelector(".title1 .news_list").innerHTML = articleList1;
        // var articleList2 = template("articleList", data.title2);
        // document.querySelector(".title2 .news_list").innerHTML = articleList2;
        var articleList3 = template("articleList", data.title3);
        document.querySelector(".title3 .news_list").innerHTML = articleList3;
        var articleList4 = template("articleList", data.title4);
        document.querySelector(".title4 .news_list").innerHTML = articleList4;
        var articleList5 = template("articleList", data.title5);
        document.querySelector(".title5 .news_list").innerHTML = articleList5;
        var articleList6 = template("articleList", data.title6);
        document.querySelector(".title6 .news_list").innerHTML = articleList6;
        var articleList7 = template("articleList", data.title7);
        document.querySelector(".title7 .news_list").innerHTML = articleList7;
        var articleList8 = template("articleList", data.title8);
        document.querySelector(".title8 .news_list").innerHTML = articleList8;      

        $(document).on("scroll", function (e) {
            if ($(this).scrollTop() > 200) {
                $(".goTop li:last-of-type").css("opacity", "1");
            } else {
                $(".goTop li:last-of-type").css("opacity", "0");
            }
        });
    </script>
    <div id="footer-analysis-3rd" style="display: none;">
        <script type="text/javascript" src="https://www.d1ev.com/src/assets/1.0.0/analysis.3rd.js?v=2018l"></script>
    </div>
</body>
</html>